
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.outer{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cal{
    border-radius: 8px;
    border: rgb(204, 148, 28) solid;
   background-color: black;
   display: inline-block;
}
.inner{
    padding: 10px;
    
}
.dis{
    background-color: rgb(79, 158, 79);
    width: 300px;
    height: 70px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.dis::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.cnt{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}
button{
    border-radius: 8px;
    margin: 2px;
    background-color: white;
    color: black;
    padding: 10px;
    font-size: medium;
    font-weight: bold;
}
